*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    max-width: 100%;
    text-align: center;
    font-family: 'Hind', sans-serif;
    font-size: 1rem;
    background-color: rgb(80, 100, 161);
}

h1{
    font-size: 4rem;
    font-weight: 50;
    margin: 2rem 0 1rem;
    color: white;
    font-family: 'Hind', sans-serif;
}

.styling{
    font-weight: 800;
    color: #f151ff;;
}

.newTask{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#newTask{
    padding: 1.15rem;
    height: 30px;
    width: 50%;
    min-width: 40%;
    max-width: 60%;
    font-size: 1rem;
    outline: none;
    border-radius: 25px;
    border: none;
}

.addTask{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65px;
    width: 70px;
    overflow: hidden;
}

.addButton{
    margin: 10px;
    width: 80%;
    height: 80%;
    color: white;
    background-color: #f151ff;
    border: none;
    border-radius: 50%;
    text-align: center;
    outline: none;
    font-size: 2.5rem;

    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
}

.addButton:hover{
    opacity: 0.9;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

#list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 1.5rem;
}

li{
    margin: 0.5rem;
    display: flex;
    padding: 0.8rem;
    width: 60%;
    border-radius: 15px;
    background-color: #041955;
    align-items: center;
}

.item_input{
    color: white;
    width: 90%;
    padding: 0.5rem;
    font-size: 1.2rem;
    background: none;
    border: none;
    text-align: start;
}

.item_checkbox{
    margin-right: 0.5rem;
}

/* Edit Task */
ul li input[type=text] {
    display:none;
}
  
ul li.editMode input[type=text] {
    display:block;
    font-size: 1.2rem;
    border: none;
    border-radius: 1rem;
    padding: 0.5rem;
    width: 90%;
    outline: none;
    ;
}
  
ul li.editMode label {
    display:none;
}

.editButton, .removeButton{
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    margin-left: 0.7rem;
}

.editButton:hover, .removeButton:hover{
    opacity: 0.8;
    animation: bounce 1s;
}

img{
    max-width: 1.5rem;
    max-height: 1.5rem;
}

@keyframes bounce{
    0%{
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    50%{
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}


